apiVersion: apps/v1
kind: Deployment
metadata:
  name: marketing-worker
  namespace: marketing-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      priorityClassName: background-tasks
      containers:
      - name: worker
        image: vish/stress
        args: ["-cpus", "1"]